.avatar-card {
  background-size: cover;
  width: 8rem;
  height: 8rem;
}

.add-fields-button {
  font-size: 12px;
}

.add-rows-button {
  width: 15%;
}

.icon-delete {
  color: red;
  padding-bottom: 40px;
}

.icon-delete-size {
  margin-top: 105px;
  font-size: -webkit-xxx-large;
  color: red;
  width: auto;
  height: auto;
}


.title-header-top {
  margin-top: 20px;
}
.table-header-top {
  margin-top: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  // width: 100%;
  flex-direction: row;
  box-sizing: border-box;
}

th {
  text-align: center;
  padding: 8px;
  background-color: #dddddd;
}

td {
  text-align: center;
}

.icon-add {
  padding-bottom: 5px;
}


.radio-center {
  padding-top: 15px;
  padding-right: 20px;
}

.font-bath {
  padding-top: 20px;
  padding-left: 10px;
}

.mat-form-top{
  margin-top: 20px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
