.scroll-bar {
  overflow: auto;
  max-height: 650px;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.redio-bolck {
  margin-bottom: 10px;
}

.boder-bolck {
  margin: 10px;
  padding: 20px;
  border: solid grey 2px;
  border-radius: 5px;
}

.icon-delete {
  color: red;
  padding-bottom: 40px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  flex-direction: row;
  box-sizing: border-box;

  border: solid #dddddd 2px;
  min-height: 100;
  // margin-top: 20px;
  padding: 20px;
}

th {
  text-align: center;
  padding: 8px;
  background-color: #dddddd;
}

td {
  text-align: center;
}

.icon-add {
  padding-bottom: 5px;
}

// .checkbox-content {
//   padding-left: 10px;
//   padding-right: 10px;
//   padding-bottom: 15px;
// }

.add-fields-button {
  margin-top: 20px;
  font-size: 12px;
}

