.full-width-table {
  width: 100%;
}

.add-button-end {
  position: absolute;
  right: 10px;
  bottom: 70px;
}

.title-name {
  padding-left: 20px;
  padding-top: 20px;
}

$mat-card-header-size: 5rem !default;

.mat-card-avatar {
  height: $mat-card-header-size;
  width: $mat-card-header-size;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;

  // Makes `<img>` tags behave like `background-size: cover`. Not supported
  // in IE, but we're using it as a progressive enhancement.
  object-fit: cover;
}

.avatar-name {
  padding-top: 10px;
  padding-bottom: 10px;
}

.box-shadow-css {
  box-shadow: 5px 5px 5px #b3b3b3;
}
.scroll-bar {
  height: 750px;
  overflow: auto;
}
